[elasticsearch-{{ es_repo_version }}]
name=Elasticsearch repository for {{ es_repo_version }}.x packages
baseurl=http://packages.elasticsearch.org/elasticsearch/{{ es_repo_version }}/centos
gpgcheck=1
gpgkey=http://packages.elasticsearch.org/GPG-KEY-elasticsearch
enabled=1
